* {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

body{
  background-color: rgb(77, 76, 76);
}

 .login-container{
  position: absolute;
  left: 33%;
  top: 33%;
  align-items: center;
  text-align: center;
}

.login-container .login-button{
  margin: 50px;
  padding: 5px;
  color: #000;
}

.connected-container{
  position: absolute;
  left: 33%;
  top: 33%;
  align-items: center;
  text-align: center;
}

.connected-container .connected-account{
  margin: 10px;
}

.connected-container #myTable{
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}